.projetContainer {
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    gap: 1em;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.76);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
:hover.projetContainer {
    -webkit-box-shadow: 5px 5px 7px 2px rgba(0,0,0,0.8); 
    box-shadow: 5px 5px 7px 2px rgba(0,0,0,0.8);
}
.titleCard {
    margin-top: 1em;
}
.descCard {
    margin: 1em;
    font-style: italic; 
}
.image {
    width: 15em;
}
:hover.image {
    border: 2px solid rgb(123, 61, 123);
    border-radius: 30px;
}
.lienCard {
    width:5em;
    height: 1.5em;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(42, 41, 42);
    color: beige;
    box-shadow: 4px 4px 6px -1px rgba(0,0,0,0.9);
}
:hover.lienCard{
    font-weight: bold;
    background-color: rgb(123, 61, 123);
    box-shadow: none;
}

.button {
    width:5em;
    height: 1.5em;
    text-align: center;
    margin-bottom: 1em;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(42, 41, 42);
    color: beige;
    box-shadow: 4px 4px 6px -1px rgba(0,0,0,0.9);
}
:hover.button {
    font-weight: bold;
    background-color: rgb(123, 61, 123);
    box-shadow: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.imageInfo {
    width: 20em;
}

.texte{
    margin: 1.5em;
}

@media screen and (max-width: 830px) {
    .projetContainer {
        width: 85%;
    }
    .image {
        width: 15em;
    }

    .lienCard {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 500px) {
    .projetContainer {
        width: 95%;
    }
    .image {
        width: 10em;
    }
    .imageInfo {
        width: 15em;
    }
}