.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.title {
    display: flex;
    justify-content: space-between;
}

.buttonMore {
    min-width: 25px;
    min-height: 25px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(42, 41, 42);
    color: beige;
    border: 1px solid black;
    border-radius: 50%;
}
:hover.buttonMore {
    background-color: rgb(123, 61, 123);
    width: 27px;
    height: 27px;
}

.containExp {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.descExp {
    font-style: italic;
}

