.titleH {
    margin-bottom: 1em;
    text-decoration: underline;
}

.listForm {
    margin-bottom: 1em;
}

.boxFormExp {
    border: solid 1px rgb(42, 41, 42);
    border-radius: 40px;
    background-color: rgb(228, 228, 228,0.7);
    backdrop-filter: blur(8px);
    padding: 1em;
}


.articles {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-left: 15%;
    gap: 1em;
    margin-bottom: 3em;
}


.buttonMore {
    width: 25px;
    height: 25px;
    background-color: rgb(42, 41, 42);
    color: beige;
    border: 1px solid black;
    border-radius: 50%;
}
:hover.buttonMore {
    background-color: rgb(123, 61, 123);
    width: 26px;
    height: 26px;
}


@media screen and (max-width: 500px) {
    .articles {
        gap: 0.5em;
        max-width: 95%;
        margin: 5%;
    }
}