.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.formLabel {
    color: beige;
    font-size: larger;
    margin-bottom: 0.3em;
}
.smallInput {
    width: 15em;
    height: 1.5em;
    margin-bottom:1.2em;
    background-color: rgba(255, 255, 253, 0.75);
    backdrop-filter: blur(8px);
    border: 2px solid  rgb(42, 41, 42);
}
.largeInput {
    display: block;
    width: 60%;
    height: 10em;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 253, 0.75);
    backdrop-filter: blur(8px);
    border: 2px solid  rgb(42, 41, 42);
}
:focus.smallInput{

    outline:3px solid rgb(123, 61, 123);
}
:focus.largeInput{
    outline:3px solid rgb(123, 61, 123);
}


.buttonEnvoi {
    font-weight: bold;
    width: 20%;
    height: 3em;
    text-align: center;
    margin-bottom: 4em;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(228, 228, 228,0.7);
    color: black;
    box-shadow: 4px 4px 6px -1px rgba(0,0,0,0.9);
}
:hover.buttonEnvoi{
    background-color: rgb(123, 61, 123);
    text-decoration: underline;
    transition: 0.4s;
}
:focus.buttonEnvoi{
    box-shadow: none;
}

.message {
    color: beige;
    text-align: center;
    margin-bottom: 2em;
    font-size: larger;
}

@media screen and (max-width: 800px) {
    .largeInput{
        width: 30em;
        
    }
}
@media screen and (max-width: 500px) {
    .largeInput{
        width: 80%; 
        height: 5em;
    }
    form {
        margin-bottom: 6em;
    }
}