.navBar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.logo {
    width: 10em;
}

.navLink {
    margin-right: 3em;
    display: flex;
    gap: 4em;
    list-style: none;
}

.lien {
    color: beige;
    text-decoration: none;
    font-size: 2em;
}
ul li {
    padding: 0 0.5em 0.25em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
  }
  ul li:before {
    content: "";
    position: absolute;
    inset: calc(100% - 1px) 0 0 0;
    background: rgb(123, 61, 123);
    scale: 0 1;
    transition:
      0.3s,
      translate 0s 0.3s;
  }
  ul:hover li:before {
    scale: 1;
  }
  ul li:hover:before {
    translate: 0;
    transition: 0.3s;
  }
  ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition:
      0.2s 0.2s,
      scale 0s 0.4s;
  }
  ul:hover li:hover ~ li:before {
    translate: -100% 0;
    transition:
      0.2s 0.2s,
      scale 0s 0.4s;
  }

:hover.lien{
    color: rgb(123, 61, 123);
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .logo {
        width: 8em;
    }
    .navLink {
        display: block;
        line-height: 2em;
    }
    .lien {
        font-size: 1.6em;
    }

    :hover.lien{
    font-size: 1.8em;
    }
    
}

@media screen and (max-width: 500px) {
    .logo {
        width: 6em;
    }
    .navLink {
        margin: 1em;
        line-height: 2em;
    }
    .lien {
        font-size: 1.3em;
    }
    :hover.lien{
        font-size: 1.5em;
    }
}