* {
    margin: 0;
    font-family:'./assets/font/Freeman-Regular.ttf', Freeman, sans-serif;
    scroll-behavior: smooth;
}
/* .body {    
    background-color: rgb(42,41,42);
} */

.erreur {
    display: flex;
    flex-direction: column;
    justify-content: center;
}