.photo  {
    margin: 2em;
    border: 2px solid black;
    border-radius: 50%;
    width: 20em;
}
.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 5em;
}
.presentationText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 1em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 2em;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,  0 0 15px #FFF;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}
.lienCV {
    width: 50%;
    font-size: 1em;
    text-shadow: none;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(42, 41, 42);
    padding: 0.5em;
    color: beige;
}

:hover.lienCV {
    background-color: rgb(123, 61, 123);
    text-decoration: underline;
    box-shadow: 4px 4px 6px -1px rgba(0,0,0,0.9);
}

.buttonContact {
    font-size: 2em;
    width: 50%;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(42, 41, 42);
    color: beige;
    box-shadow: 4px 4px 6px -1px rgba(0,0,0,0.9);
}
:hover.buttonContact{
    background-color: rgb(123, 61, 123);
    text-decoration: underline;
}
:focus.buttonContact{
    box-shadow: none;
}

@media screen and (max-width: 830px) {
    .photo {
        width: 15em;
        margin-top: 1em;
    }
    .buttonContact {
        margin-bottom: 2em;
    }
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
    }
    .presentationText {
        display: flex;
        text-align: center;
        font-size: 1.5em;
        margin: 2em;
        margin-bottom: 0.5em;
        margin-top: 0;
    }
    .buttonContact{
        padding: 0.5em;
        margin-bottom: 1em;
    }
    .buttons{
        gap:1em;
    }
}

