.photo  {
    margin: 2em;
    border: 2px solid black;
    border-radius: 50%;
    width: 16em;
}
.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.presentationText {
    display: block;
    text-align: center; 
    margin-left: 2em;
    margin-right: 2em;
    font-size: 2em;
}
.articles {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-left: 15%;
    gap: 1em;
}
.formations {
    border: solid 1px rgb(42, 41, 42);
    border-radius: 40px;
    background-color: rgb(228, 228, 228);
    padding: 1em;
}
.experiences {
    border: solid 1px rgb(42, 41, 42);
    border-radius: 40px;
    background-color: rgb(228, 228, 228);
    padding: 1em;
}

.titleH {
    margin-bottom: 1em;
    text-decoration: underline;
}

.listForm {
    margin-bottom: 1em;

}

.buttonMore {
    width: 25px;
    height: 25px;
    background-color: rgb(42, 41, 42);
    color: beige;
    border: 1px solid black;
    border-radius: 50%;
}
:hover.buttonMore {
    background-color: rgb(123, 61, 123);
    width: 26px;
    height: 26px;
}

.buttonContact {
width: 40%;
height: 3em;
padding-top: 2em;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 4em;
text-decoration: none;
border: 1px solid black;
border-radius: 15px;
background-color: rgb(42, 41, 42);
color: beige;
box-shadow: 4px 4px 6px -1px rgba(0,0,0,0.9);
}
:hover.buttonContact{
    background-color: rgb(123, 61, 123);
    text-decoration: underline;
}
:focus.buttonContact{
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .photo {
        width: 10em;
        margin: 0.5em;
    }
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .presentationText {
        display: block;
        text-align: center;
        font-size: 1.5em;
        margin: 2em;
        margin-top: 0;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,  0 0 15px #FFF;
    }
    .buttonContact {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 500px) {
    .presentationText {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
    .articles {
        gap: 0.5em;
        max-width: 95%;
        margin: 5%;
    }
    .buttonContact {
        padding-top: 1em;
        height: 2em;
        margin-bottom: 0.5em;
    }
}